body{
    background-color: blueviolet;
}
p{
    color: brown;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
}
img{
    height: 100px;
    width: 100px;
    text-align: center;
}